.container {
	width: 100vw;
	height: 100vh;
}

.left {
	width: 50vw;
	height: 100vh;
	float: left;
	color: white;
	position: fixed;
	text-align: center;
	overflow: hidden;
}

.image-content{
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	position: absolute;
}

.left img {
	width: 100%;
}

.right {
	width: 50vw;
	height: 100vh;
	float: right;
	background-color: white;
}

.container::after {
	display:block;
	content:"";
	clear:both;
}

.introduction{
	padding-top: 6%;
}

.introduction h3{
	margin-left: 7%;
	width: 7vw;
	float: left;
	background: -webkit-linear-gradient(right, #F6BE00, #F76902);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.div-content {
	margin-top: 1%;
	width: 67vh;
	margin-left: 3%;
	float: left;
	font-family: 'Roboto', sans-serif;

}

.introduction::after {
	display:block;
	content:"";
	clear:both;
}

.college-name {
	font-style: italic;
	font-weight: 500;
	margin: 0 0 0;
}

.university {
	padding-top: 3%;
	font-weight: 700;
	margin: 0 0 0;
}

.major{
	font-weight: 500;
}

.expected-graduation{
	font-weight: 700;
	color: rgb(179, 179, 179);
}