.container {
	width: 100vw;
	height: 100vh;
}

.left {
	width: 50vw;
	height: 100vh;
	float: left;
	color: white;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.image-content{
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	position: absolute;
}

.left img {
	width: 100%;
}

.right {
	width: 50vw;
	height: 100vh;
	float: right;
	background-color: white;
}

.container::after {
	display:block;
	content:"";
	clear:both;
}

.introduction{
	padding-top: 6%;
}

.introduction h3{
	margin-left: 5%;
	float: left;
}

.div-content {
	margin-top: 1%;
	width: 60vh;
	margin-left: 10%;
	float: left;
	font-family: 'Roboto', sans-serif;

}

.introduction::after {
	display:block;
	content:"";
	clear:both;
}